<!--userinfo.html (ch10www project)-->
{% extends "base.html" %}
{% block title %}分享日记{% endblock %}
{% block content %}
<div class='container'>
{% for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{message}}</div>
{% endfor %}
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align='center'>
            <h3>用户信息</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading" align="center">
                {{profile.user.username|upper}}
            </div>
            <div class="panel-body">
                email:{{profile.user.email}}<br/>
                height:{{profile.height}}<br/>
                sex:{{profile.male| yesno:"boy,girl"}}<br/>
                website:<a href="{{profile.website}}">{{profile.website}}</a>
            </div>
        </div>
    </div>
</div>
<form name='myname' action='.' method='POST'>
    {% csrf_token %}
    <table>
        {{profile_form.as_table}}
    </table>
    <input type="submit" value="Edit">
</form>
</div>
{% endblock %}
